* {
  padding: 0px;
  margin: 0px;
}

footer {
  background-color: rgb(44, 43, 43);
}

.myLinks {
    padding-top: 10px;
  a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  }
}

.myLogo {
  p {
  color: whitesmoke;
  padding: 10px;
  }
}

